{% load static %}


<footer>
    <div class="footer-content">
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="social-icons">
            <a href="#" target="_blank" title="Follow us on Twitter"><img src="{% static 'images/twitter-icon.png' %}" alt="Twitter"></a>
            <a href="#" target="_blank" title="Like us on Facebook"><img src="{% static 'images/facebook-icon.png' %}" alt="Facebook"></a>
            <a href="#" target="_blank" title="Connect with us on LinkedIn"><img src="{% static 'images/linkedin-icon.png' %}" alt="LinkedIn"></a>
        </div>
    </div>
</footer>