/* styles.css */

.customer-details-form-container {
    text-align: center;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 200px auto;
    max-width: 400px;
  }
  
  .customer-details-form {
    max-width: 400px;
    margin: auto;
  }
  
  .customer-details-form button {
    width: 100%;
    padding: 10px;
    background-color: #282928;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .customer-details-form button:hover {
    background-color: #0f110f;
  }
  
  .customer-details-form input,
  .customer-details-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .customer-details-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  