body {
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footer-content {
    max-width: 90vw; 
    margin: 0 auto;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 30px;
    height: auto;
    border-radius: 50%;
}

.footer-links a:hover {
    color: #ffd700;
}
