.registration-form-container {
    max-width: 400px;
    margin: 200px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 8px;
    font-size: 16px;
}

.registration-form input {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.registration-form button {
    background-color: #0e0f0e;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
}

.registration-form button:hover {
    background-color: #0f110f;
}
